* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
}

.personal {
    margin: auto;
}

.info {
    flex: 1;
    width: 60vmin;
    height: 30vmax;
    margin: 50px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #d2d7ff;
    display: flex;
    flex-direction: inherit;
}

.details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 45vwin;
    flex: 1;
}

ul {
    list-style-type: none;
}

li {
    font-size: 0.8rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    margin: auto;
}

.icon {
    margin: 10px;
    font-size: 1.7rem;
    justify-content: center;
    align-content: center;
    color: darkblue;
}

img {
    width: 100px;
    margin: auto;
    padding: 10px;
}

li::marker {
    list-style-type: none;
}

h1 {
    text-transform: capitalize;
    font-size: 4vmin;
    text-align: center;
    letter-spacing: 15px;
    font-weight: 100;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 2px;
}

.container {
    margin: 50px;
    height: 350px;
    width: 60vmin;
    max-width: 700px;
    padding: 30px 0px;
    background-color: #d2d7ff;
    border-radius: 10px;
    align-items: center;
}

.intro {
    font-size: 13px;
    text-align: justify;
    width: inherit;
    padding: 30px;
    margin: auto;
}

.greeting {
    width: inherit;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
}

body {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #d9e2ff
}

footer {
    text-align: center;
    font-size: 13px;
}
